:root{
  --main-button-background:#ff39a8;
  --main-button-color:hsl(210deg,30%,8%);
  --main-bg-color:hsl(210deg, 30%, 8%);
}

html{
  background:lightcoral;
  background: var(--main-bg-color);
  color:brown;
  color:#ff39a8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
body{
  max-width:670px;
  margin:auto;
  font-size:1.1em;
}
h1{
  color:#ffe100;
  font-size:2.3em;
}
.alkoinputcontainer{
  background-color:var(--main-bg-color);
  color:#ffe100;
}

.alkoinput{
  // margin-left:10px;
  font-size:1.0em;
  font-size:1.45em;
  color:#ffe100;
  font-weight:700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border:0.5px solid #00beff;
  width:470px;
  width: 288px;
  background:inherit;
  

  text-transform: none;
  letter-spacing: initial;
  height:3rem;
  padding:0.5rem;
  // margin-bottom:25px;
  transition: 0.3s ease-in-out;
  

}
.alkoinput::-webkit-input-placeholder{
  color:#ffe100;
}
li.alkoli {
  background:var(--main-bg-color);
}
a.button{
  color:var(--main-button-color);
  background:var(--main-button-background);
  // background:#ffe100;
  border: none;
  cursor: pointer;
  font-size:1em;
  font-variant: small-caps;
  margin:-5px;
  margin-left:0px;
  padding:1px;
  padding-left:4px;

}
.filterinput{
  color:white;
  font-size:1.1em;
  width: 130px;
  // background:#00beff;
background:transparent;
  // border:none;
  border:2px solid #00beff;
  // shadow:none;
}
.price{
  color:#00beff;
  font-size:1em;
  
}
.filterButton.active{
  background: #00beff;
  color:var(--main-button-color);
  transition:0.5s;
  
}
.filterButton{
  color:#00beff;
  background:var(--main-button-color);
  border:1px solid #00beff;
  padding:5px 10px 5px 10px;
  margin:initial;
  transition:0.5s;
  line-height: 16px;
}
.filterButtonStars {

  margin-left: 7px;
}

.wine{
  margin-top:20px;
}
.wineDetails > img {
  height:120px;
}
.wineDetails{
  display: flex;
  align-items:center;
  justify-content: flex-start;
}

span.filterLineText{
  padding:10px;
}

.italic{
  font-style: italic;
}
.fiveStarsSpan:before{
  content: "🌟";
  font-size: 135%;
}
.fourStars > a{
  background:var(--main-button-color);
  color:var(--main-button-background);
}

span.valkoviinit:before{
  content:"🍷";
  font-size:1.3em;
  filter:grayscale(1) sepia(3) brightness(4);
}
span.punaviinit:before{
  font-size:1.3em;
content:"🍷"}